html{
  overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6, p{
  margin: 0;
  padding: 0;
}

.flex{
  display: flex;
}

.between {
  justify-content: space-between;
}

.start {
  justify-content: flex-start;
}
.product-details{ 
  flex-wrap: nowrap;
}

.content{
  padding: 96px 0 0 120px;
}

.intro{
  color: #000;
  position: relative;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 130%;
  width: 494px;
  margin: 0;
  /* or 41px */
  display: flex;
  align-items: flex-end;
  z-index: 1;
}

.description{
  position: relative;
  z-index: 1;
  margin-top: 12px;
  color: #666666;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  width: 432px;
}

.shop-item{
  position: relative;
  z-index: 1;
  margin: 16px 0 74px 0;
  width: fit-content;
  padding-bottom: 5px;
  font-family: 'Arial';
  font-style: normal;
  font-weight: 900;
  font-size: 12.8px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-transform: capitalize;
  border-bottom: 1px solid #000;
}


@media screen and (max-width: 600px) {
  .content{
    padding: 230px 0 0 24px;
  }
  .intro-img {
    width: 100%;
    position: absolute;
    top: 0;
  }
  .description{
    display: none;
  }
  .intro, .shop-item{
    color: #FFFFFF;
  }
  .intro{
    width: 312px;
    font-weight: 700;
    font-size: 20px;
  }
  .shop-item{
    font-weight: 900;
    font-size: 12.8px;
    line-height: 17px;
    border-color: #FFFFFF;
  }
}